<launch>

  <node name="joint_path_node" pkg="jointpath_cartesianpath_pkg" type="joint_path_node" respawn="false" output="screen">
  <rosparam command="load" file="$(find motomini_moveit_config)/config/kinematics.yaml"/>
    <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <rosparam command="load" file="$(find motomini_moveit_config)/config/ompl_planning.yaml"/>
  </node>

</launch>