<launch>

  <node name="pose_goal_node" pkg="pose_goal_pkg" type="pose_goal_node" respawn="false" output="screen">
  <rosparam command="load" file="$(find motomini_moveit_config)/config/kinematics.yaml"/>
    <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <rosparam command="load" file="$(find motomini_moveit_config)/config/ompl_planning.yaml"/>
  </node>

</launch>